/*@import "Stylesheet/_variables";*/
/* ====== COMMON =============================================================================== */
h2, h3 {
  margin: 0; }

a img {
  border: none; }

body {
  line-height: 1.5; }

p.first {
  margin-top: 0; }

p.last {
  margin-bottom: 0; }

.clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.inline-form {
  display: inline; }

.space {
  margin: 20px; }

.strong {
  font-weight: bold; }

pre {
  font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.5;
  padding: 9.5px 9.5px 0 9.5px;
  border: none; }

code {
  color: #333;
  background: #eee; }

input[type=text]:focus {
  outline: none;
  border-color: #428bca; }

.col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-7, .col-md-8 {
  padding: 0; }

/* ============================================================================================= */
@font-face {
  font-family: 'Gabriola';
  src: url("../fonts/gabriola.eot");
  src: url("../fonts/gabriola.eot?#iefix") format("embedded-opentype"), url("../fonts/gabriola.woff") format("woff"), url("../fonts/gabriola.ttf") format("truetype"); }

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #333;
  background: #E8E8E8; }

/* ====== TOP MENU & INTRO ===================================================================== */
.navbar-toggle {
  font-size: 36px;
  color: white;
  opacity: 0.7;
  padding: 13px 13px;
  display: none; }

.navbar {
  position: fixed;
  overflow: hidden;
  background: #E8E8E8 url("Images/BackgroundSingle.png") repeat 0 bottom;
  border: none;
  border-radius: 0; }

.navbar .container {
  padding: 0 30px; }

.navbar a {
  color: white; }

.navbar a:hover, .navbar a:focus, .navbar li.active a, .navbar a.active {
  background: #157FCC; }

.navbar a .fa {
  font-size: 35px;
  opacity: 0.5; }

.navbar a {
  height: 100px; }

.navbar ul, .navbar ul li {
  display: block; }

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.navbar ul li {
  float: left; }

.navbar ul li a {
  text-decoration: none;
  padding: 15px 25px 10px 25px;
  font-size: 56px;
  font-family: "Gabriola";
  color: white;
  display: block; }

.navbar ul.left li a {
  margin: 0 10px 0 0; }

.navbar ul.right li a {
  margin: 0 0 0 10px; }

.navbar ul.right li:first-child a {
  margin: 0; }

.navbar ul li.disabled a {
  cursor: not-allowed;
  color: #737578;
  background: transparent; }

.navbar ul li a .maintext {
  line-height: 1; }

.navbar ul li a .subtext {
  display: block;
  font-size: 22px;
  line-height: 1; }

.navbar ul li img {
  width: 100px;
  height: 100px;
  display: block;
  float: left; }

.intro {
  padding: 40px 0;
  background: #E8E8E8 url("Images/BackgroundSingle.png") repeat 0 bottom; }

.intro .intro-content {
  padding: 0 30px; }

.intro h1 {
  font-family: "Gabriola", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
  text-rendering: optimizelegibility;
  color: white;
  margin-bottom: -5px; }

.intro p {
  font-family: "Gabriola", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 800px;
  padding-left: 8px;
  color: white;
  font-size: 40px;
  text-align: left; }

/* ====== MY NAME ============================================================================== */
.my-name img, .my-name .content {
  float: left; }

.my-name img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 10px 0;
  border-radius: 40px; }

.my-name .content {
  margin: 30px 0 0 20px;
  font-family: "Gabriola", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: white;
  line-height: 1; }

.body {
  margin-top: 100px; }

/* ====== SOCIAL =============================================================================== */
p.social {
  max-width: none; }

.social a {
  display: block;
  float: left;
  padding: 5px;
  margin-right: 50px; }

.social a:hover, .social a:active, .social a:focus {
  text-decoration: none;
  color: white; }

.social .my-email {
  margin-right: 25px;
  float: right; }

/* ====== FOOTER =============================================================================== */
footer {
  padding: 10px 0;
  background: url("Images/FootBackground.png") repeat-x left top; }

footer, footer a {
  color: #666666; }

footer a {
  text-decoration: none;
  font-weight: bold; }

footer a:hover {
  text-decoration: underline;
  color: #666666; }

footer .left, footer .right, footer .center {
  padding: 0px 10px; }

/* ====== TIMELINE ============================================================================= */
.timeline {
  padding: 40px 0 20px 0;
  background: url("Images/TimelineBackground.png") repeat-y center top; }

.timeline .year {
  width: 50px;
  text-align: center;
  margin: 0 auto 20px auto;
  padding: 3px;
  clear: both;
  color: white;
  background: #E8E8E8 url("Images/BackgroundSingle.png") repeat 0 bottom; }

.timeline .node {
  width: 50%;
  margin-top: -40px; }

.timeline .node:first-child {
  margin-top: 0; }

.timeline .node.right {
  clear: left; }

.timeline .node.left {
  clear: right; }

.timeline .node .node-folder {
  background: url("Images/FootBackground.png") repeat-x left center; }

.timeline .node.right .node-folder {
  padding-left: 40px;
  margin-right: 40px; }

.timeline .node.left .node-folder {
  padding-right: 40px;
  margin-left: 40px; }

.timeline .node.right .node-folder .folder {
  margin-right: 0; }

.timeline .node.left .node-folder .folder {
  margin-left: 0; }

.timeline .node .date {
  width: 50px;
  border: 0px solid #C0C0C0; }

.timeline .node.right .date {
  float: left;
  margin-right: 10px;
  padding-right: 5px;
  border-right-width: 1px; }

.timeline .node.left .date {
  float: right;
  margin-left: 10px;
  padding-left: 5px;
  border-left-width: 1px; }

.timeline .date .day, .date .month {
  text-align: center; }

.timeline .date .day {
  font-weight: bold;
  font-size: 20px; }

.timeline .node-row .node-content {
  width: calc(100% - 60px);
  float: left; }

.timeline .node.rigth {
  text-align: left; }

.timeline .node.left {
  text-align: right; }

/* ====== BOOKS ================================================================================ */
.preface {
  text-align: justify; }

.preface table {
  width: 100%; }

.preface .col-md-10 {
  padding-left: 0; }

.books {
  /*.rating .fa-star {
        color: #FFD76E;
    }*/ }
  .books .folder {
    height: 360px; }
  .books .folder.preface h2 {
    font-weight: bold;
    text-align: left; }
  .books .folder .book-image {
    height: 240px; }
  .books .folder img {
    max-width: 170px;
    max-height: 240px;
    display: block;
    margin: 0 auto; }
  .books .folder .folder-heading {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center; }
  .books .folder .folder-heading .original-name {
    font-style: italic; }
  .books .folder .date {
    color: #999;
    font-style: italic; }
  .books .folder .rating .fa-star-o {
    color: #999; }

/* ====== FOLDER =============================================================================== */
.folder {
  margin: 10px;
  padding: 10px;
  color: #444444;
  background: white;
  border: 1px solid #C0C0C0; }

.folder-heading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #999;
  border-bottom: 1px solid #C0C0C0; }

.folder-heading h1, .folder-heading h2, .folder-heading h3, .folder-heading h4, .folder-heading h5, .folder-heading h6 {
  margin: 0;
  padding: 0; }

.folder-separator {
  margin: 5px 0;
  border-top: 1px solid #C0C0C0; }

.folder-foot {
  margin-top: 5px;
  padding-top: 5px;
  color: #999999;
  border-top: 1px solid #C0C0C0; }

.folder .col-md-6 {
  padding-left: 0;
  padding-right: 15px; }

.folder .col-md-right {
  padding-right: 0px; }

.folder .folder-heading a[href^="http://"]:after {
  content: "\e164";
  font-family: 'Glyphicons Halflings';
  padding-left: 5px;
  font-size: 60%;
  opacity: 0.4;
  color: black; }

.folder-switch {
  cursor: pointer;
  float: right; }

.folder-switch:before {
  content: "\e113"; }

.folder-collapsed .folder-switch {
  padding-top: 5px; }

.folder-collapsed .folder-switch:before {
  content: "\e114"; }

.folder-collapsed .folder-heading {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none; }

.folder-collapsed .folder-content {
  display: none; }

.folder .folder-icon {
  height: 30px;
  position: relative;
  top: -5px; }

/*.folder-wrap {
    padding: 0;
}

.folder.folder-wrap input[type=text] {
    width: 870px;
    padding-top: 15px;
    border: none;
}*/
input.folder {
  width: calc(100% - 20px);
  padding-top: 15px; }

/*@import "Stylesheet/box";*/
/*@import "Stylesheet/ie";*/

